.cardBox {
  position: relative;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.input {
  width: 100px;
  opacity: 0;
  transition: 10s;
}

.input2 {
  width: 400px;
  opacity: 1;
  transition: 10s;
}

body {

}

.loading {
  position: absolute;
  top: 20vh;
  width: 50%
}

.done {
  display: none;
}

